@import '../components/index.less';

.viewPort {
  @media screen and (max-width: 768px) {
    width: calc(100vw - 150px)
  }
  width: auto;
  overflow-x: scroll;
}

.t2ViewPort {
  @media screen and (max-width: 768px) {
    display: block;
  }
  display: none;
}
