.viewPort {
  @media screen and (max-width: 768px) {
    width: calc(100vw - 230px)
  }
  width: auto;
  overflow-x: scroll;
}

.viewPort::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

.t2ViewPort {
  @media screen and (max-width: 768px) {
    display: none;
  }
}
